@import "../../theme/typography.less";
@import "../../theme/variables.less";

#app-header {
  background-color: #ff0;
  height: 64px;

  .navbar-nav {
    .nav-link {
      .h5Text();
      text-decoration: none;

      background-color: #f00;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
    }
  }
}
